    /*--- SETTINGS DIALOG ---*/
.php-lint-settings-dialog label {
	width: 100%;
	display: inline-block;
}

.php-lint-settings-dialog fieldset {
	margin-bottom: 1em;
}

.php-lint-settings-dialog legend {
	margin: 0 0 .25em;
	color: inherit;
}

.php-lint-settings-dialog input {
	vertical-align: middle;
	margin-bottom: 0;
}

.php-lint-settings-dialog .columns label {
	width: 33.333%;
	float: left;
}

.php-lint-settings-dialog .error {
	color: #c95353;
}

.php-lint-settings-dialog .input-php-location {
	width: 100%;
}

.php-lint-settings-dialog .php-location-error {
	font-size: 0.9em;
	color: #a33;
}
